# Optional settings
install
cdrom
lang en_US.UTF-8
user --name=user --plaintext --password user
rootpw user
unsupported_hardware
timezone  Russia/Moscow
network --bootproto=dhcp
firewall --disabled
selinux --permissive
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart
firstboot --disabled
reboot

# Install Packages
%packages --nobase --ignoremissing --excludedocs
openssh-clients
# Prerequisites for installing VMware Tools
kernel-headers
kernel-devel
gcc
make
perl
curl
wget
bzip2
dkms
patch
net-tools
git

# Other stuff
sudo
nfs-utils
-fprintd-pam
-intltool

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw*-firmware
-irqbalance
-ivtv-firmware
-iwl*-firmware
-libertas-usb8388-firmware
-ql*-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post
echo 'user ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/user
chmod 440 /etc/sudoers.d/user
mkdir -m 0700 -p /home/user/.ssh 
chown user:user /home/user/.ssh 
echo 'ssh-rsa %your_public_key% user@ubuntu' > /home/user/.ssh/authorized_keys 
chmod 600 /home/user/.ssh/authorized_keys 
chown user:user /home/user/.ssh/authorized_keys 
%end

